<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProviderBancoDados" value="MYSQL" />
		<add key="ServidorBancoDados" value="localhost" />
		<add key="BancoDados" value="autopeca" />
		<add key="UsuarioBancoDados" value="root" />
		<add key="UsuarioIntegrado" value="false" />
		<add key="SenhaBancoDados" value="" />
		<add key="Porta" value="3306" />
	</appSettings>
</configuration>